.transactionList {
  margin: 30px auto;
}

.transactionList h3 {
  font-weight: 600;
  font-size: 24px;
}

.transactionList ul {
  margin: 20px 0;
}

.transactionList li {
  background-color: #fff;
  text-decoration: none;
  list-style: none;
  margin-bottom: 10px;
  font-size: 18px;
  padding: 10px 20px;
  box-shadow: 0 2px 8px 2px rgb(85, 85, 85);
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 8px;
}

.li-plus {
  border-right: 8px solid rgb(50, 158, 15);
  color: rgb(50, 158, 15);
}
.li-minus {
  border-right: 8px solid rgb(235, 64, 64);
  color: rgb(235, 64, 64);
}

.close-sign {
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  line-height: 1;
  font-weight: 600;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.close-sign:hover {
  background-color: rgb(235, 232, 232);
  box-shadow: 0 1px 5px 1px rgb(73, 73, 73);
}

.tag {
  background-color: aqua;
}
